@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.194 0.036 101.574);

  --primary: oklch(0.863 0.175 96.144);
  --primary-foreground: oklch(0.194 0.036 101.574);

  --card: oklch(0.997 0.005 95.097);
  --card-foreground: oklch(0.194 0.036 101.574);

  --popover: oklch(0.997 0.005 95.097);
  --popover-foreground: oklch(0.194 0.036 101.574);

  --secondary: oklch(0.976 0.037 98.719);
  --secondary-foreground: oklch(0 0 0);

  --muted: oklch(0.983 0.025 97.108);
  --muted-foreground: oklch(0.51 0 0);

  --accent: oklch(0.983 0.025 97.108);
  --accent-foreground: oklch(0.239 0.045 97.433);

  --destructive: oklch(0.637 0.208 25.331);
  --destructive-foreground: oklch(0.984 0.003 247.858);

  --border: oklch(0.926 0.019 96.875);

  --input: oklch(0.883 0.031 96.902);

  --ring: oklch(0.863 0.175 96.144);

  --chart-1: oklch(0.863 0.175 96.144);
  --chart-2: oklch(0.88 0.168 97.506);
  --chart-3: oklch(0.903 0.143 98.273);
  --chart-4: oklch(0.917 0.127 98.669);
  --chart-5: oklch(0.931 0.107 98.878);

  --sidebar: oklch(0.997 0.005 95.097);
  --sidebar-foreground: oklch(0.194 0.036 101.574);
  --sidebar-primary: oklch(0.863 0.175 96.144);
  --sidebar-primary-foreground: oklch(0.194 0.036 101.574);
  --sidebar-accent: oklch(0.863 0.175 96.144);
  --sidebar-accent-foreground: oklch(0.194 0.036 101.574);
  --sidebar-border: oklch(0.969 0.05 98.61);
  --sidebar-ring: oklch(0.863 0.175 96.144);

  --radius: 0.5rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.976 0.037 98.719);

  --primary: oklch(0.863 0.175 96.144);
  --primary-foreground: oklch(0.194 0.036 101.574);

  --card: oklch(0.181 0.016 101.799);
  --card-foreground: oklch(0.976 0.037 98.719);

  --popover: oklch(0.186 0.008 95.483);
  --popover-foreground: oklch(0.976 0.037 98.719);

  --secondary: oklch(0.406 0.08 97.761);
  --secondary-foreground: oklch(1 0 0);

  --muted: oklch(0.213 0 0);
  --muted-foreground: oklch(0.6 0 0);

  --accent: oklch(0.406 0.08 97.761);
  --accent-foreground: oklch(0.976 0.037 98.719);

  --destructive: oklch(0.637 0.208 25.331);
  --destructive-foreground: oklch(0.984 0.003 247.858);

  --border: oklch(0.312 0.019 98.823);

  --input: oklch(0.351 0.031 97.672);

  --ring: oklch(0.863 0.175 96.144);

  --chart-1: oklch(0.863 0.175 96.144);
  --chart-2: oklch(0.764 0.155 96.545);
  --chart-3: oklch(0.627 0.126 96.124);
  --chart-4: oklch(0.555 0.111 96.473);
  --chart-5: oklch(0.483 0.096 97.031);

  --sidebar: oklch(0.186 0.008 95.483);
  --sidebar-foreground: oklch(0.976 0.037 98.719);
  --sidebar-primary: oklch(0.863 0.175 96.144);
  --sidebar-primary-foreground: oklch(0.194 0.036 101.574);
  --sidebar-accent: oklch(0.863 0.175 96.144);
  --sidebar-accent-foreground: oklch(0.194 0.036 101.574);
  --sidebar-border: oklch(0.284 0.055 98.485);
  --sidebar-ring: oklch(0.863 0.175 96.144);

  --radius: 0.5rem;
}

@theme inline {
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-playfair);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Fonts */
  --font-sans: var(--font-inter);
  --font-serif: var(--font-poppins);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
